.form {
  width: 400px;
  height: auto;
  background: white;
  border-radius: 8px;
  padding: 8px;
}
.inputs {
  padding: 8px;
}
.inputs:nth-child(9){
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid rgb(82, 82, 82);
}
.inputs input {
  padding: 2px;
  width: 100%;
}
