:root {
    --family: Verdana, Geneva, Tahoma, sans-serif;
    --color-nav: #2d65ff;
    --color-primary: #2d65ff;
    --color-primary-hover: #5c87ff;
    --color-warning: #ffd82d;
    --color-warning-hover: #ffec98;
    --color-error: #ff2d2d;
    --color-error-hover: #ff8a8a;
  }